.sample_modules_button{
	display: block;
	margin: 0.2em;

	a{
		display: block;
		padding: 1em 2em;
		width: auto;
		text-align: center;
		border: 1px solid #88f;
		background: #aaf;
		color: #fff;
		border-radius: 5px;

		&:hover{
			background: #bbf;
		}
	}
}
